
.header-style-1, .header-style-2, .header-style-3 {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: #242632;
}

.header-style-1 .topbar, .header-style-2 .topbar, .header-style-3 .topbar {
    background-color: #242632;
    padding: 10px 0;
    display: none;
}

.site-footer .upper-footer {
    padding: 90px 0;
    display: none;
}

.blog-sidebar .widget {
    margin-top: 15px;
    margin-bottom: 15px;
}

.account .tabs {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.account .tabs .btn-tab {
    font-size: 16px;
    font-weight: 500;
    color: #242632;
    padding: 8px 20px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px;
    background: #f8f8f8;
}

.account .tabs .btn-tab.active {
    background-color: #f28d35;
    border-color: #f6ba18;
    color: #fff;
}

.img-holder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.img-holder img {
    width: 150px;
    height: 150px;
}

table {
    width: 100%;
    margin-top: 17px;
}

table tr td{
    padding-bottom: 10px;
}

table .label {
    color: #8c8c8c;
}

table .content {
    color: #808080;
    font-weight: 600;
}

.btn-edit-user {
    width: 100%;
    color: #595959;
    background: #d9d9d9;
    border: none;
    font-weight: 600;
    margin-top: 15px;
    padding: 10px 0;
}

.btn-update {
    width: 200px;
    color: #595959;
    background: #d9d9d9;
    border: none;
    font-weight: 600;
    margin-top: 15px;
    padding: 10px 0;
}

.btn-edit-user:hover,
.btn-edit-user:focus,
.btn-update:hover,
.btn-update:focus
{
    color: #39ac73;
    background: #f2f2f2;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,1);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,1);
}
