.section-page {
    padding-bottom: 50px;
    text-align: center;
}

.section-page .page-link {
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: #242632;
}

.section-page li:first-child .page-link, .section-page li:last-child .page-link {
    font-size: 2em;
    line-height: 25px;
}

.section-page .active .page-link {
    background-color: #f28d35;
    border-color: #f28d35;
}

.image-detail {
    padding: 4px;
    border: 1px #f28d35 solid;
    overflow: hidden;
}
.image-detail img {
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}
.image-detail:hover img {
    transform: scale(1.5);
}
.form-donate {
    background-color: #f5f5f5;
    padding: 50px;
    border: 2px #f28d35 solid;
    border-style: dashed;
}
.form-donate .theme-btn-s2 {
    border: none;
}