.shop-pg-section {
    margin-top: 120px;
}

.shop-panel {
    background: #ffffff;
    padding: 20px;
    margin-left: 15px;
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(145,145,145,1);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(145,145,145,1);
    box-shadow: inset 1px 1px 1px 0px rgba(145,145,145,1);
}

.search-product {
    width: 100%;
    display: inline-flex;
}
.search-product input {
    width: 80%;
}

.search-product button {
    width: 20%;
}


.shop-grids {
    height: 500px;
    overflow-y: auto;
}

.scrollable {
    height: 350px;
    overflow-y:auto;
    width: 100%;
}

.scrollable ul {

}

.scrollable ul li {
    list-style: none;
    display: inline-flex;
    width: 100%;
    padding: 5px 15px;
    border-bottom: 1px solid #d0d2d2;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(145,145,145,0.34);
    -moz-box-shadow: 1px 1px 1px 0px rgba(145,145,145,0.34);
    box-shadow: 1px 1px 1px 0px rgba(145,145,145,0.34);
}


.scrollable ul li:hover {
    border-color: #c27400;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(145,145,145,0.34);
    -moz-box-shadow: 2px 2px 2px 0px rgba(145,145,145,0.34);
    box-shadow: 2px 2px 2px 0px rgba(145,145,145,0.34);
}

.scrollable ul li .title {
    padding: 10px 0;
    width: 40%;
    display: inline-block;
}
.scrollable ul li .title h4 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.scrollable ul li .title p {
    font-size: 13px;
    color: #6c757d;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.scrollable ul li .price {
    width: 15%;
    padding: 10px 0;
}
.scrollable ul li .price p{
    font-size: 16px;
    color: #6c757d;
    padding: 0;
    margin: 0;
}

.scrollable ul li .qty {
    width: 15%;
    padding: 10px 0;
}
.scrollable ul li .qty input{
    box-shadow: none;
    height: 35px;
}

.scrollable ul li .total {
    width: 15%;
    margin-left: 5px;
    text-align: right;
    padding: 10px 0;
}

.scrollable ul li .total p {
    font-size: 16px;
    font-weight: 600;
    color: #6c757d;
    padding: 0;
    margin: 0;
}


.scrollable ul li .action {
    width: 15%;
    padding: 10px 0;
}
.scrollable ul li .action .btn-remove{
    box-shadow: none;
    height: 30px;
    width: 30px;
    float: right;
    border-radius: 50%;
    padding: 5px;
}


.pay-out {
    padding: 15px;
}

.pay-out table {
    width: 100%;
}
.pay-out table td:first-child {
    text-align: left;
    color: #1b1e21;
    font-weight: 600;
}
.pay-out table td:last-child {
    text-align: right;
}

.payment {
    width: 100%;
}

.payment button {
    width: 100%;
}


.grid {
    border: 1px solid rgba(145,145,145,0.34);
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(145,145,145,0.34);
    -moz-box-shadow: 1px 1px 1px 0px rgba(145,145,145,0.34);
    box-shadow: 1px 1px 1px 0px rgba(145,145,145,0.34);
    padding: 5px;
}

.grid:hover {
    border-color: #c27400;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(145,145,145,0.34);
    -moz-box-shadow: 2px 2px 1px 0px rgba(145,145,145,0.34);
    box-shadow: 2px 2px 1px 0px rgba(145,145,145,0.34);
}

.grid .img-cart {
    height: 50px;
    overflow: hidden;
}
.grid .img-cart img {
    height: auto;
    width: auto;
}
.grid .details h4{
    font-size: 13px;
    height: 40px;
    overflow: hidden;
}
.grid .details p {
    margin: 0;
    padding: 0;
    height: 30px;
    font-size: 13px;
    text-transform: uppercase;
}

.shop-pg-section .details {
    padding: 10px 0;
}

.grid .details .price {
    color: white;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f2f2f2;
}
/*Begin Header section*/
.header {
    background: #ffffff;
    z-index: 999;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #cccccc;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(168,168,168,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(168,168,168,1);
    box-shadow: 1px 1px 1px 0px rgba(168,168,168,1);
}

.header .company-name {
    position: absolute;
    z-index: 99;
    left: 100px;
}

.header .company-name h3 {
    color: #008000;
    font-size: 25px;
}

.header .right-header {
    float: right;
}

.header .right-header ul {
    display: inline-flex;
}

.header .right-header ul li {
    padding: 5px 10px;
    border-left: 1px solid #cccccc;
    font-size: 17px;
}

.header .right-header ul li:hover {
    background: #f2f2f2;
}

.header .right-header ul li i {
    font-size: 25px;
    color: #8c8c8c;
    padding: 25px 5px 25px 25px
}

.header .right-header ul li span {
    font-size: 18px;
    color: #8c8c8c;
    padding-right: 25px;
}

.header .right-header ul li .select-lang
{
    background: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
    margin-top: 15px;
}

.header .right-header ul li .select-user
{
    background: none;
    border: none;
    box-shadow: none;
    font-weight: 600;
    margin-top: 7px;
}

.header .right-header ul li .select-lang:hover,
.header .right-header ul li .select-lang:focus,
.header .right-header ul li .select-user:hover,
.header .right-header ul li .select-user:focus
{
    background: none;
    border: none;
    box-shadow: none;
}

.dropdown-toggle::after {
    margin-left: 1.55em;
}

.header .right-header ul li .account {
    display: inline-flex;
}
.header .right-header ul li .account .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.header .right-header ul li .info-user {
    margin-left: 15px;
    text-align: left;
}

.header .right-header ul li .info-user h5 {
    font-size: 17px;
    font-weight: 600;
    padding: 0;
    margin-top: 0;
    margin-bottom:0;
}

.header .right-header ul li .info-user p {
    color: #bfbfbf;
    font-size: 12px;
    padding: 0;
    font-weight: 200;
}

.header .right-header ul li .icon-bar {
    position: absolute;
    z-index: 99;
    margin-left: -5px;
    margin-top: -5px;
    background: #008000;
    border-radius: 50%;
    color: #ffffff !important;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}


/*BODY CONTENT*/
.body-main {
    margin-top: 100px;
    width: 100%;
}

.body-main .page-header {
    position: relative;
    margin: 0;
    padding: 0;
}

.body-main .page-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -5px;
    width: 50px;
    height: 2px;
    background: #39ac73;
}

.body-main .page-header h4 {
    font-family: sans-serif;
    color: #39ac73;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 1px;
}

.body-main .page-body {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.body-main .page-body .card-info {
    margin-top: 15px;
}

.body-main .page-body .card-info .card-body {
    padding: 15px 20px;
}

.body-main .page-body .card-info .card-body .avatar {
    width: 100%;
    margin-bottom: 30px;
    height: 250px;
    background: #39ac73;
    border-radius: 5px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.body-main .page-body .card-info .card-body .avatar img {
    margin-top: 70px;
    width: 150px;
    height: 100px;
}

.body-main .page-body .card-info .card-body table {
    width: 100%;
    margin-top: 15px;
}

.body-main .page-body .card-info .card-body table tr td{
    padding-bottom: 10px;
}

.body-main .page-body .card-info .card-body table .label {
    color: #8c8c8c;
}

.body-main .page-body .card-info .card-body table .content {
    color: #808080;
    font-weight: 600;
}

.body-main .page-body .card-info .card-body .btn-edit-user {
    width: 100%;
    color: #595959;
    background: #d9d9d9;
    border: none;
    font-weight: 600;
    margin-top: 15px;
    padding: 10px 0;
}

.body-main .page-body .card-info .card-body .btn-update {
    width: 200px;
    color: #595959;
    background: #d9d9d9;
    border: none;
    font-weight: 600;
    margin-top: 15px;
    padding: 10px 0;
}

.body-main .page-body .card-info .card-body .btn-edit-user:hover,
.body-main .page-body .card-info .card-body .btn-edit-user:focus,
.body-main .page-body .card-info .card-body .btn-update:hover,
.body-main .page-body .card-info .card-body .btn-update:focus
{
    color: #39ac73;
    background: #f2f2f2;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,1);
    box-shadow: 1px 1px 1px 0px rgba(204,204,204,1);
}

.body-main .page-body .card-info .card-body h4 {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #666666;
    font-size: 16px;
    letter-spacing: 1px;
}

.body-main .page-body .card-info .card-body h5 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #666666;
    letter-spacing: 1px;
}

.body-main .page-body .card-info .card-body .form-update-user {
    margin-top: 20px;
}

.body-main .page-body .card-info .card-body .form-check {
    margin-bottom: 15px;
}

.body-main .page-body .card-info .card-body .form-check.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.body-main .page-body .card-info .card-body textarea {
    margin-left: 15px;
    width: 95%;
}
.body-main .page-body .card-info .card-body input[type="checkbox"] {
    height: 20px;
    width: 20px;
    border: 1px solid #cccccc;
    background: none;
}

.card-stats {
    border: 0;
    border-radius: 6px;
    color: #333333;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-stats .card-header {
    background: #ffffff;
    margin: 0px 15px 0;
    padding: 10px 5px;
    position: relative;
}

.card-stats {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
}

.card-stats .card-icon,
.card-stats .card-text {
    float: left;
    border-radius: 3px;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
}

.card-stats .card-header-warning .card-icon{
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.card-stats .card-header-success .card-icon{
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.card-stats .card-header-danger .card-icon{
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}


.card-stats .card-header.card-header-icon i {
    color: #ffffff;
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}

.card-stats .card-header.card-header-icon, .card-stats .card-header.card-header-text {
    text-align: right;
}


.card-stats .card-footer {
    background: #ffffff;
    padding: 0;
    padding-top: 10px;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}

.card-stats .card-footer .stats{
    color: #999999;
    font-size: 12px;
    line-height: 22px;
}

.card-stats .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}